server {
    server_name msg.xploit.ltd;

    listen 443 ssl http2;

    location / {
        proxy_pass http://localhost:3060;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    gzip on;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_vary on;
    gzip_min_length 1024;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;

    ssl_certificate /etc/letsencrypt/live/msg.xploit.ltd/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/msg.xploit.ltd/privkey.pem;
}

server {
    if ($host = msg.xploit.ltd) {
        return 301 https://$host$request_uri;
    }

    listen 80;
    server_name msg.xploit.ltd;
    return 301 https://msg.xploit.ltd$request_uri;
}
